<p>{{if FirstName}}{{FirstName}},</p>

<p>{{end}}Do you agree that it’s essential for students to have the opportunity to make their voices heard in every election?</p>

<p>On far too many college campuses across the country, extremists have placed major barriers between students and the ballot box — banning student IDs as valid forms of voter identification, eliminating nearby and on-campus polling locations, tightening mail-in voting laws, and more. This is no coincidence{{if FirstName}}, {{FirstName}}{{else}}{{end}}: Student voters have turned out in record numbers to reject extremists' agendas in previous elections, and they'll continue to if people like us stand up for their freedom to vote. That’s why we launched the Fair Fight U program on college campuses throughout&nbsp;Georgia.</p>

<p><a href="https://secure.actblue.com/donate/ffa-23-back-to-school-campaign"><strong><u>To start the 2023 school year off strong, and to protect and expand students’ access to the ballot box, we’re asking you to contribute to our Fair Fight U&nbsp;program!</u></strong></a></p>

<center>
<p><a href="https://secure.actblue.com/donate/ffa-23-back-to-school-campaign"><img alt="Fuel Fair Fight U to empower college students across Georgia  Help reach our $7,000 goal by Friday at midnight" src="https://prod.cdn.everyaction.com/images/van/NGP/NGP43/1/88450/images/Bluestate_FairFight_2023_BTS_email1_z01.jpg" style="width: 90%;" /></a></p>
</center>

<p>This fund will keep student organizers energized with coffee and snacks, provide them with tabling supplies for voting information like clipboards and pens, and more — so they can continue to engage and educate other students on Georgia campuses ahead of local and presidential election cycles.&nbsp;<strong>We did the math, and in order to fund this work for the beginning of the school year, we need to raise $7,000 by Friday at midnight.</strong></p>

<p>Thank you for helping empower college students!</p>

<p>The Fair Fight Action Team</p>